.c-normal-table
    padding: px(90) 0

    h3
        text-align: center
        font-size: px(36)
        font-weight: $bold
        margin-bottom: px(40)

    &.\--blue
        background-color: #f6fcfd

        h3
            color: $turqoise

        thead
            background-color: $turqoise

    &.\--red
        background-color: #fdf6f6

        h3
            color: $red

        thead
            background-color: $red

    table
        width: 100%
        border-collapse: collapse
        background-color: white

        td
            padding: px(16) px(18)

        thead
            color: $inverted-text-color
            font-size: px(18)
            font-weight: $bold

        tbody
            color: #666

            tr:nth-child(even)
                background-color: #f7f7f7

    &__letter
        font-weight: $bold
        font-size: px(18)
