.c-normal-table
    width: 100%
    border-collapse: collapse
    background-color: white
    margin-bottom: px(50)
    text-align: left
    border-bottom: 1px solid rgba(black, 0.1)

    @at-root .blue &
        background-color: #f6fcfd

        h3
            color: $turqoise

        thead
            background-color: $turqoise

    @at-root .red &
        background-color: #fdf6f6

        h3
            color: $red

        thead
            background-color: $red

    @at-root .r2 &
        background-color: #fdf6f6

        h3
            color: $toxic-orange

        thead
            background-color: $toxic-orange

    td,
    th
        padding: px(16) px(18)

    thead,
    tfoot
        color: $inverted-text-color
        font-size: px(18)
        font-weight: $bold

    tbody
        color: #666

        tr:nth-child(even)
            background-color: white

    &__letter
        font-weight: $bold
        font-size: px(18)

    tfoot
        td
            padding: 0

    em
        background-color: #feff00
        font-style: normal
        display: inline-block
        padding: 2px 5px
