// Media query breakpoints

$breakpoint-mobile: 660px
$breakpoint-tablet: 1060px

// This controls the default spacing that can be used all across the code base, including the grid
$default-spacing: 40px
$default-spacing-mobile: 20px

// This controls the maximum width of the viewport
$max-width: 1250px // minus 40px padding on the left and right side

// Font-weights
$light: 300
$medium: 400
$bold: 700

// Colors
$red: #ff414d
$dark-blue: #002d42
$light-blue: #d9ecf2
$pink: #f46a79
$red: #ff414d
$turqoise: #19a4b7
$dark-grey: #666666
$turqoise-light: #96d9e2
$green-light: #fde2e4
$grey-light: #ebf6f7

// Landing page colors
$framboise: #e40151
$toxic-orange: #ff6332
$fingerprint: #575457
$weathered-stone: #c3c4c3
$ucla-gold: #feb300
$sahara: #b19c25
$storm: #414401
$dithered-amber: #fdb304

// Semantic colors
$main-bg-color: white
$main-text-color: $dark-grey
$inverted-text-color: white
