<div class="c-colored-table__wrapper">
    <div class="l-wrapper">
        <table class="c-colored-table">
            <thead>
                <tr>
                    <td class="c-colored-table__title">Kenmerken van de processen</td>
                    <td class="c-colored-table__col --red"><div class="c-colored-table__vertical">G1000</div></td>
                    <td class="c-colored-table__col --turqoise"><div class="c-colored-table__vertical">Omgevingsvisie</div></td>
                    <td class="c-colored-table__col --pink"><div class="c-colored-table__vertical">Mildam Noord</div></td>
                    <td class="c-colored-table__col --turqoise-light"><div class="c-colored-table__vertical">Akkrum</div></td>
                    <td class="c-colored-table__col --green-light"><div class="c-colored-table__vertical">De Greiden</div></td>
                    <td class="c-colored-table__col --grey-light"><div class="c-colored-table__vertical">Aldeboarn</div></td>
            </thead>
            <tbody class="c-colored-table__content">
                <tr>
                    <td class="--align-left"><b>Deelnemers</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="--align-left">Loten</td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="--align-left">Gericht smal uitnodigen</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="--align-left">Gericht breed uitnodigen</td>
                    <td></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="--align-left">Alle inwoners uitnodigen</td>
                    <td></td>
                    <td></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                </tr>
                <tr>
                    <td class="--align-left"><b>Agendering</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="--align-left">Wel kaders</td>
                    <td></td>
                    <td></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                </tr>
                <tr>
                    <td class="--align-left">Geen kaders</td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="--align-left">Geen thema's etc</td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td></td>
                    <td></td>
                    <td><img src="{{ site.image_path }}/check.svg"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <td class="c-colored-table__title"></td>
                    <td class="c-colored-table__col --red"></td>
                    <td class="c-colored-table__col --turqoise"></td>
                    <td class="c-colored-table__col --pink"> </td>
                    <td class="c-colored-table__col --turqoise-light"></td>
                    <td class="c-colored-table__col --green-light"></td>
                    <td class="c-colored-table__col --grey-light"></td>
            </thead>
        </table>
    </div>
</div>
