<footer class="s-footer">
    <div class="l-wrapper">

        <div class="s-footer__main">
            <div>
                <img src="{{ site.image_path }}/logo-footer.svg">
            </div>
            <div>
                <h4 class="s-footer__heading">Onderzoekers</h4>
                <p>Bianca Lyon & Avelien Haan<br>
                Thorbecke Academie / NHL Stenden</p>
                <p>Gemeente Heerenveen</p>
            </div>
            <div>
                <h4 class="s-footer__heading">Vormgeving</h4>
                <p class="u-mb">
                    <a href="https://www.dehaancreative.nl/">dehaancreative.nl</a>
                </p>

                <h4 class="s-footer__heading u-mt+">Webontwikkeling</h4>
                <p><a href="https://sketch2html.nl">Sketch2HTML.nl</a></p>
            </div>
            <div>
                <h4 class="s-footer__heading">Illustraties</h4>
                <p>Theo Jaasma</p>

                <h4 class="s-footer__heading u-mt+">Foto's</h4>
                <p>Voornaam Achternaam</p>
                <p>Voornaam Achternaam</p>
            </div>

        </div>
    </div>

    <div class="s-footer__sub">
        <p>Democratie0513 © 2019 Gemeente Heerenveen</p>
    </div>

</footer>
