<div class="l-wrapper">
    <table>
        <thead>
            <tr>
                <td colspan="2"><b>{{ page.table-title-left }}</b></td>
                <td colspan="2"><b>{{ page.table-title-right }}</b></td>
            </tr>
        </thead>
        <tbody>
            {% for item in page.table-items %}
                <tr>
                    <td class="c-normal-table__letter">{{ item.letter }}</td>
                    <td>{{ item.sentence }}</td>
                    <td></td>
                    <td><b>{{ item.word }}</b></td>
                </tr>
            {% endfor %}
        </tbody>
        <thead>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
        </thead>
    </table>
</div>
