.s-chapters
    +tablet-desktop
        display: flex

    &__chapter
        color: $inverted-text-color
        text-align: center
        padding: px(40) px(20)
        word-break: break-word
        flex: 1

        &.\--research
            background-color: $pink

        &.\--summary
            background-color: $red

        &.\--results
            background-color: $turqoise

        &.\--analysis
            background-color: $dark-blue

        img
            margin-bottom: px(50)

    &__heading
        +font-merriweather
        font-weight: $bold
        font-size: px(26)
        letter-spacing: px(6)
        line-height: 1.2
        // min-height: px(100)

    &__paragraph
        font-size: px(18)
        line-height: px(30)
        position: relative
        margin-top: px(30)
        padding-top: px(30)

        &:after
            content: ''
            background-color: white
            height: px(2)
            width: px(100)
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
