.s-content
    padding: 90px 0

    &__intro
        font-weight: $bold
        +font-merriweather
        font-size: px(30)
        line-height: 1.4
        color: $dark-blue
        margin-bottom: px(70)

    &__main-content // Markdown
        p
            font-size: px(24)
            color: $main-text-color
            line-height: 1.8
            margin-bottom: 60px

            &.\--sub
                font-size: px(20)

        a
            color: $main-text-color
            text-decoration: underline

        h2
            font-size: px(36)
            font-weight: $bold
            margin-bottom: 15px

            @at-root html.blue &
                color: $turqoise

            @at-root html.red &
                color: $red

            @at-root html.r2 &
                color: $toxic-orange

        h3
            font-size: px(26)
            color: #666
            font-weight: $bold
            margin-bottom: 15px

        h4
            font-size: px(38)
            font-weight: $bold
            margin-bottom: 15px
            color: #666

        img
            display: block
            margin-left: auto
            margin-right: auto

        ol
            list-style: none
            counter-reset: counter
            color: #666666
            line-height: 1.8
            margin-bottom: 50px
            font-size: px(24)

            li
                counter-increment: counter
                position: relative
                margin-left: 40px

                &:before
                    position: absolute
                    content: counter(counter) ". "
                    +font-merriweather
                    font-weight: $bold
                    left: -40px

                    @at-root html.blue &
                        color: $turqoise

                    @at-root html.red &
                        color: $red

        ul
            margin-bottom: 50px

            li
                // list-style-type: disc
                position: relative
                font-size: px(24)
                margin-left: 40px
                color: #666666
                line-height: 1.8

                &:before
                    color: $turqoise
                    content: ''
                    left: px(-24)
                    top: px(17)
                    position: absolute
                    width: 8px
                    height: 8px
                    background-color: $turqoise
                    border-radius: 100%
