.s-footer
    background-color: $dark-blue
    border-top: px(6) solid $turqoise

    &__main
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr
        grid-gap: px(30)
        padding: px(90)0 px(80) 0

        p,
        a
            color: #999
            font-size: 14px

        p
            margin-bottom: 15px

    &__heading
        color: $inverted-text-color
        text-transform: uppercase
        font-size: px(18)
        letter-spacing: px(3)
        margin-bottom: px(20)

    &__sub
        height: px(90)
        background-color: black

        p
            text-align: center
            line-height: px(90)
            font-size: 14px
            color: $inverted-text-color
