.s-footer


    &__main
        padding: px(90)0 px(80) 0
        display: grid
        grid-gap: px(30)

        +mobile
            text-align: center

        +tablet-desktop
            grid-template-columns: 1fr 1fr 1fr 1fr

        p,
        a
            font-size: px(15)

        p
            margin-bottom: px(15)

    &__heading
        color: $inverted-text-color
        text-transform: uppercase
        font-size: px(18)
        letter-spacing: px(3)
        margin-bottom: px(20)

    &__sub
        height: px(90)
        background-color: black

        p
            text-align: center
            line-height: px(90)
            font-size: px(14)
            color: $inverted-text-color

    &.\--r1
        background-color: $dark-blue
        border-top: px(6) solid $turqoise

        .s-footer
            &__main
                p,
                a
                    color: #999

    &.\--r2
        background-color: $storm
        border-top: px(6) solid $ucla-gold

        .s-footer
            &__main
                p,
                a
                    color: $rapeseed-oil
