.s-header
    height: px(90)
    background-color: $framboise
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid rgba(black, 0.1)
    padding: 0 px(50) 0 0
    height: px(90)

    &__logo
        display: flex
        position: relative
        background-color: white
        border-top: 6px solid $framboise

        +mobile
            padding: 0 30px 0 10px
            width: 70%

        +tablet-desktop
            padding: 10px 60px

        img
            +mobile
                width: 100%

            +tablet-desktop
                height: 60px

        &-red-corner
            position: absolute
            right: -15px
            background-color: $framboise
            width: 35px
            height: 160px
            transform: rotate(12deg)
            top: 0

    &__nav
        img
            cursor: pointer
