.s-hero
    +background-image('hero-blue.jpg')
    background-position: center top
    background-size: cover
    display: grid
    padding: 0 50px 0 63px

    +tablet-desktop
        grid-gap: 40px
        grid-template-columns: 1fr 420px

    &__text-area
        padding: 480px 0 180px 0

    &__heading
        font-size: 94px
        +font-merriweather
        font-weight: $medium
        color: $inverted-text-color
        margin-bottom: 35px

    &__subheading
        font-weight: 100
        color: $light-blue
        font-size: 38px
        margin-bottom: 40px

    &__paragraph
        font-style: italic
        font-weight: $bold
        +font-merriweather
        font-size: 30px
        line-height: 2
        color: $inverted-text-color

.s-hero-links
    margin-top: 30px

    &__link
        color: $inverted-text-color
        display: block
        height: 70px
        line-height: 70px
        +font-merriweather
        font-size: 30px
        letter-spacing: 8px
        font-weight: $bold
        text-align: right
        position: relative
        transition: color 0.1s ease-in
        padding-left: 67px

        &:after
            position: absolute
            bottom: 0
            left: 0
            content: ''
            height: 2px
            width: 100%
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)

        &.\--active
            +background-image('hero-links-arrow-active.svg')

        &:hover
            color: $red
            +background-image('hero-links-arrow-hover.svg')

        &:hover,
        &.\--active
            background-position: left center
            background-size: 36px 41px
