.s-header
    border-top: 6px solid $red
    height: 90px
    background-color: $main-bg-color
    display: flex
    justify-content: space-between
    padding: 0 50px 0 63px
    align-items: center

    &__logo
        display: flex
        align-items: center

        &-text
            color: $dark-blue
            margin-left: 28px
            font-size: 36px
            font-weight: $medium
            +font-merriweather
