.s-hero
    background-position: center top
    background-size: cover
    display: grid
    position: relative

    +mobile
        padding: 0 px(20)
        min-height: 75vh

    +tablet-desktop
        padding: 0 px(50) 0 px(63)

    &.\--r1
        &.\--blue
            +background-image('hero-blue.jpg')

        &.\--red
            +background-image('hero-red.jpg')

    &.\--r2
        +background-image('r2/hero.jpg')
        background-position: center center

        +tablet-desktop
            min-height: px(600)

    &__dots
        +fill-space
        +background-image('header-dots.svg')
        background-size: cover
        opacity: 0.1

    +tablet-desktop
        grid-gap: px(40)
        grid-template-columns: 1fr px(420)

    &__text-area
        padding: px(150) 0 px(50) 0

    &__heading
        +font-merriweather
        font-weight: $medium
        color: $inverted-text-color
        margin-bottom: px(35)

        +mobile
            font-size: px(50)

        +tablet-desktop
            font-size: px(76)

    &__subheading
        font-weight: 100
        color: $light-blue
        font-size: px(31)
        margin-bottom: px(40)

    &__paragraph
        font-style: italic
        font-weight: $bold
        +font-merriweather
        font-size: px(24)
        line-height: 2
        color: $inverted-text-color

.s-hero-links
    margin-top: px(30)
    margin-bottom: px(30)

    +mobile
        transform: translateX(100%)
        transition: transform 0.5s ease-in
        position: fixed
        top: px(61)
        width: 100%
        background-color: $turqoise
        left: 0

        &.\--active
            transform: translateX(0)

    &__link
        color: $inverted-text-color
        display: block
        line-height: 1.3
        padding: px(13) px(20)
        +font-merriweather
        font-size: px(26)
        letter-spacing: px(8)
        font-weight: $bold
        position: relative
        transition: color 0.1s ease-in
        padding-left: px(67)
        text-align: right

        &:after
            position: absolute
            bottom: 0
            left: 0
            content: ''
            height: 2px
            width: 100%
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)

        &.\--active
            +background-image('hero-links-arrow-active.svg')

        &:hover,
        &.\--active
            background-position: left center
            background-size: px(36) px(41)

        @at-root .blue &
            &:hover
                color: $red
                +background-image('hero-links-arrow-hover.svg')

        @at-root .red &
            &:hover
                color: $turqoise
                +background-image('hero-links-arrow-hover-blue.svg')

        &.\--nested
            color: $dithered-amber
            +background-image('r2/arrow_right_yellow.png')
            background-size: px(36) auto
            background-position: left center

            &.\--active
                +background-image('r2/arrow_down_yellow.png')

    &__nested-list
        margin-top: px(10)

    &__nested-link
        color: $inverted-text-color
        font-weight: $bold
        +font-merriweather
        display: block
        text-align: right
        font-size: px(20)
        letter-spacing: px(2)
        padding: px(4) px(20)
        position: relative
        transition: color 0.1s ease-in

        &:hover
            color: $dithered-amber
