<ul class="s-hero-links__list">
    <li>
        <a
            href="#"
            class="s-hero-links__link --nested"
            @click.prevent="toggleHeroNestedList(1)"
            :class="{ '--active': heroNestedList === 1 }"
        >Heerenveen</a>
        <ul class="s-hero-links__nested-list" v-show="heroNestedList === 1">
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/de-akkers" class="s-hero-links__nested-link">De Akkers</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/de-greiden" class="s-hero-links__nested-link">De Greiden</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/de-heide" class="s-hero-links__nested-link">De Heide</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/centrum" class="s-hero-links__nested-link">Centrum</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/midden" class="s-hero-links__nested-link">Midden</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/noord" class="s-hero-links__nested-link">Noord</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/het-meer" class="s-hero-links__nested-link">Het Meer</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/nijehaske" class="s-hero-links__nested-link">Nijehaske</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/skoatterwald" class="s-hero-links__nested-link">Skoatterwâld</a>
            </li>
        </ul>
    </li>
    <li>
        <a
            href="#"
            class="s-hero-links__link --nested"
            @click.prevent="toggleHeroNestedList(2)"
            :class="{ '--active': heroNestedList === 2 }"
        >Dorpen</a>
        <ul class="s-hero-links__nested-list" v-show="heroNestedList === 2">
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/aldeboarn" class="s-hero-links__nested-link">Aldeboarn</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/akkrum" class="s-hero-links__nested-link">Akkrum</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/bontebok" class="s-hero-links__nested-link">Bontebok</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/de-knipe" class="s-hero-links__nested-link">De Knipe</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/gersloot" class="s-hero-links__nested-link">Gersloot</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/gersloot-polder" class="s-hero-links__nested-link">Gersloot Polder</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/haskerdijken" class="s-hero-links__nested-link">Haskerdijken</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/hoornsterzwaag" class="s-hero-links__nested-link">Hoornsterzwaag</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/jubbega" class="s-hero-links__nested-link">Jubbega</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/katlijk" class="s-hero-links__nested-link">Katlijk</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/luinjeberd" class="s-hero-links__nested-link">Luinjeberd</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/mildam" class="s-hero-links__nested-link">Mildam</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/nes" class="s-hero-links__nested-link">Nes</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/nieuwebrug" class="s-hero-links__nested-link">Nieuwebrug</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/nieuwehorne" class="s-hero-links__nested-link">Nieuwehorne</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/nieuweschoot" class="s-hero-links__nested-link">Nieuweschoot</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/oranjewoud" class="s-hero-links__nested-link">Oranjewoud</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/oudehorne" class="s-hero-links__nested-link">Oudehorne</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/oudeschoot" class="s-hero-links__nested-link">Oudeschoot</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/terband" class="s-hero-links__nested-link">Terband</a>
            </li>
            <li>
                <a href="/gebiedsscans-gezondheid-en-leefomgeving/tjalleberd" class="s-hero-links__nested-link">Tjalleberd</a>
            </li>
        </ul>
    </li>
    <li>
        <a
            href="/gebiedsscans-gezondheid-en-leefomgeving/jeugd"
            class="s-hero-links__link --nested"
        >Jeugd</a>
    </li>
</ul>
