<!DOCTYPE html>
<html class="{{ page.section }} {{ page.color }}" lang="nl">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
        <div class="s-hero --{{ page.color }}">
            <div class="s-hero__dots"></div>
            <div class="s-hero__text-area">
                <h1 class="s-hero__heading">
                    {{ page.hero-heading }}
                </h1>
                <h2 class="s-hero__subheading">
                    {{ page.hero-subheading }}
                </h2>
                <p class="s-hero__paragraph">
                    {{ page.hero-paragraph }}
                </p>
            </div>
            <div class="s-hero-links">
                <ul>
                    <li>
                        <a href="" class="s-hero-links__link">G1000</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Omgevingsvisie</a>
                    </li>
                    <li>
                        <a href="/mildam" class="s-hero-links__link {% if page.permalink == '/mildam' %}--active{% endif %}">Mildam Noord</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Akkrum</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">De Greiden</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Aldeboarn</a>
                    </li>
                </ul>
            </div>
        </div>

        {% include chapters.html %}

        <div class="s-content">
            <div class="l-wrapper-medium">
                <div class="s-content__intro">
                    {{ page.content-intro }}
                </div>

                <div class="s-content__main-content">
                    {{ content }}
                </div>
            </div>
        </div>

    </main>

    {% include footer.html %}

  </body>

</html>
