<!DOCTYPE html>
<html class="{{ page.section }}" lang="nl">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
        <div class="s-hero">
            <div class="s-hero__dots"></div>
            <div class="s-hero__text-area">
                <h1 class="s-hero__heading">
                    {{ page.hero-heading }}
                </h1>
                <h2 class="s-hero__subheading">
                    {{ page.hero-subheading }}
                </h2>
                <p class="s-hero__paragraph">
                    {{ page.hero-paragraph }}
                </p>
            </div>
            <div class="s-hero-links">
                <ul>
                    <li>
                        <a href="" class="s-hero-links__link">G1000</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Omgevingsvisie</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Mildam Noord</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Akkrum</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">De Greiden</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Aldeboarn</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="s-chapters">
            <div class="s-chapters__chapter --research">
                <img src="{{ site.image_path }}/chapters/research.svg">
                <h2 class="s-chapters__heading">Het onderzoek</h2>
                <p class="s-chapters__paragraph">{{ page.chapters-research-paragraph }}
            </div>
            <div class="s-chapters__chapter --summary">
                <img src="{{ site.image_path }}/chapters/summary.svg">
                <h2 class="s-chapters__heading">Samenvatting</h2>
                <p class="s-chapters__paragraph">{{ page.chapters-summary-paragraph }}
            </div>
            <div class="s-chapters__chapter --results">
                <img src="{{ site.image_path }}/chapters/results.svg">
                <h2 class="s-chapters__heading">Uitkomsten</h2>
                <p class="s-chapters__paragraph">{{ page.chapters-results-paragraph }}
            </div>
            <div class="s-chapters__chapter --analysis">
                <img src="{{ site.image_path }}/chapters/analysis.svg">
                <h2 class="s-chapters__heading">Analyse en conclusie</h2>
                <p class="s-chapters__paragraph">{{ page.chapters-analysis-paragraph }}
            </div>
        </div>

        <div class="s-content">
            <div class="l-wrapper-medium">
                <div class="s-content__intro">
                    {{ page.content-intro }}
                </div>

                <div class="s-content__main-content">
                    {{ content }}

                </div>
            </div>

            <div class="l-wrapper">
                <div class="s-colored-table">
                    <table class="c-colored-table">
                        <thead>
                            <tr>
                                <td class="c-colored-table__title">Kenmerken van de processen</td>
                                <td class="c-colored-table__col --red"><div class="c-colored-table__vertical">G1000</div></td>
                                <td class="c-colored-table__col --turqoise"><div class="c-colored-table__vertical">Omgevingsvisie</div></td>
                                <td class="c-colored-table__col --pink"><div class="c-colored-table__vertical">Mildam Noord</div></td>
                                <td class="c-colored-table__col --turqoise-light"><div class="c-colored-table__vertical">Akkrum</div></td>
                                <td class="c-colored-table__col --green-light"><div class="c-colored-table__vertical">De Greiden</div></td>
                                <td class="c-colored-table__col --grey-light"><div class="c-colored-table__vertical">Aldeboarn</div></td>
                        </thead>
                        <tbody class="c-colored-table__content">
                            <tr>
                                <td class="--align-left"><b>Deelnemers</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="--align-left">Loten</td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="--align-left">Gericht smal uitnodigen</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="--align-left">Gericht breed uitnodigen</td>
                                <td></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="--align-left">Alle inwoners uitnodigen</td>
                                <td></td>
                                <td></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                            </tr>
                            <tr>
                                <td class="--align-left"><b>Agendering</b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="--align-left">Wel kaders</td>
                                <td></td>
                                <td></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                            </tr>
                            <tr>
                                <td class="--align-left">Geen kaders</td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="--align-left">Geen thema's etc</td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td></td>
                                <td></td>
                                <td><img src="{{ site.image_path }}/check.svg"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <td class="c-colored-table__title"></td>
                                <td class="c-colored-table__col --red"></td>
                                <td class="c-colored-table__col --turqoise"></td>
                                <td class="c-colored-table__col --pink"> </td>
                                <td class="c-colored-table__col --turqoise-light"></td>
                                <td class="c-colored-table__col --green-light"></td>
                                <td class="c-colored-table__col --grey-light"></td>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </main>

    {% include footer.html %}

  </body>

</html>
