<!DOCTYPE html>
<html class="{{ page.section }}" lang="nl">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
        <div class="s-hero">
            <div class="s-hero__text-area">
                <h1 class="s-hero__heading">
                    {{ page.hero-heading }}
                </h1>
                <h2 class="s-hero__subheading">
                    {{ page.hero-subheading }}
                </h2>
                <p class="s-hero__paragraph">
                    {{ page.hero-paragraph }}
                </p>
            </div>
            <div class="s-hero-links">
                <ul>
                    <li>
                        <a href="" class="s-hero-links__link">G1000</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link --active">Omgevingsvisie</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Mildam Noord</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Akkrum</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">De Greiden</a>
                    </li>
                    <li>
                        <a href="" class="s-hero-links__link">Aldeboarn</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="s-chapters">
            <div class="s-chapters__chapter --research">
                <img src="{{ site.image_path }}/chapters/research.svg">
                <h2 class="s-chapters__heading">Het onderzoek</h2>
                <p class="s-chapters__paragraph">{{ page.chapters-research-paragraph }}
            </div>
            <div class="s-chapters__chapter --summary">
                <img src="{{ site.image_path }}/chapters/summary.svg">
                <h2 class="s-chapters__heading">Samenvatting</h2>
                <p class="s-chapters__paragraph">{{ page.chapters-summary-paragraph }}
            </div>
            <div class="s-chapters__chapter --results">
                <img src="{{ site.image_path }}/chapters/results.svg">
                <h2 class="s-chapters__heading">Uitkomsten</h2>
                <p class="s-chapters__paragraph">{{ page.chapters-results-paragraph }}
            </div>
            <div class="s-chapters__chapter --analysis">
                <img src="{{ site.image_path }}/chapters/analysis.svg">
                <h2 class="s-chapters__heading">Analyse en conclusie</h2>
                <p class="s-chapters__paragraph">{{ page.chapters-analysis-paragraph }}
            </div>
        </div>

      {{ content }}

    </main>

    {% include footer.html %}

  </body>

</html>
