<!DOCTYPE html>
<html class="{{ page.section }} {{ page.color }}" lang="nl">

  {% include head.html %}

  <body>

    <div id="vue">


        {% include gebiedsscans-gezondheid-en-leefomgeving/header.html %}

        {% include gebiedsscans-gezondheid-en-leefomgeving/breadcrumbs.html %}

        <main style="margin-top: 5.625rem">
            <div class="s-hero --r2">
                <div class="s-hero__dots"></div>
                <div class="s-hero__text-area">
                    <h1 class="s-hero__heading">
                        {{ page.hero-heading }}
                    </h1>
                    <h2 class="s-hero__subheading">
                        {{ page.hero-subheading }}
                    </h2>
                    <p class="s-hero__paragraph">
                        {{ page.hero-paragraph }}
                    </p>
                </div>
                <div class="s-hero-links">
                    <ul class="s-hero-links__list">
                        <li>
                            <a
                                href="#"
                                class="s-hero-links__link --nested"
                                @click.prevent="toggleHeroNestedList(1)"
                                :class="{ '--active': heroNestedList === 1 }"
                            >Heerenveen</a>
                            <ul class="s-hero-links__nested-list" v-show="heroNestedList === 1">
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/de-akkers" class="s-hero-links__nested-link">De Akkers</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/de-greiden" class="s-hero-links__nested-link">De Greiden</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/de-heide" class="s-hero-links__nested-link">De Heide</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/centrum" class="s-hero-links__nested-link">Centrum</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/midden" class="s-hero-links__nested-link">Midden</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/noord" class="s-hero-links__nested-link">Noord</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/het-meer" class="s-hero-links__nested-link">Het Meer</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/nijehaske" class="s-hero-links__nested-link">Nijehaske</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/skoatterwald" class="s-hero-links__nested-link">Skoatterwâld</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="s-hero-links__link --nested"
                                @click.prevent="toggleHeroNestedList(2)"
                                :class="{ '--active': heroNestedList === 2 }"
                            >Dorpen</a>
                            <ul class="s-hero-links__nested-list" v-show="heroNestedList === 2">
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/aldeboarn" class="s-hero-links__nested-link">Aldeboarn</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/akkrum" class="s-hero-links__nested-link">Akkrum</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/bontebok" class="s-hero-links__nested-link">Bontebok</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/de-knipe" class="s-hero-links__nested-link">De Knipe</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/gersloot" class="s-hero-links__nested-link">Gersloot</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/gersloot-polder" class="s-hero-links__nested-link">Gersloot Polder</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/haskerdijken" class="s-hero-links__nested-link">Haskerdijken</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/hoornsterzwaag" class="s-hero-links__nested-link">Hoornsterzwaag</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/jubbega" class="s-hero-links__nested-link">Jubbega</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/katlijk" class="s-hero-links__nested-link">Katlijk</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/luinjeberd" class="s-hero-links__nested-link">Luinjeberd</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/mildam" class="s-hero-links__nested-link">Mildam</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/nes" class="s-hero-links__nested-link">Nes</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/nieuwebrug" class="s-hero-links__nested-link">Nieuwebrug</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/nieuwehorne" class="s-hero-links__nested-link">Nieuwehorne</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/nieuweschoot" class="s-hero-links__nested-link">Nieuweschoot</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/oranjewoud" class="s-hero-links__nested-link">Oranjewoud</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/oudehorne" class="s-hero-links__nested-link">Oudehorne</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/oudeschoot" class="s-hero-links__nested-link">Oudeschoot</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/terband" class="s-hero-links__nested-link">Terband</a>
                                </li>
                                <li>
                                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/tjalleberd" class="s-hero-links__nested-link">Tjalleberd</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a
                                href="/gebiedsscans-gezondheid-en-leefomgeving/jeugd"
                                class="s-hero-links__link --nested"
                            >Jeugd</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% include chapters.html %}

            <div class="s-content">
                <div class="l-wrapper-medium">
                    <div class="s-content__intro">
                        {{ page.content-intro }}
                    </div>

                    <div class="s-content__main-content">
                        {{ content | replace: "<table", "<table class='c-normal-table'" | replace: "<img", "<img class='c-image js-image'" | replace: "<strong>Quote deelnemer</strong>:", "<strong>Quote deelnemer</strong>:<br>"}}
                    </div>
                </div>
            </div>

        </main>

        {% include footer.md %}

        <div class="s-hamburger-menu" :class="{'--active': hamburgerMenuOpen }">
            <div class="s-hamburger-menu__close" @click="hamburgerMenuOpen = false">X</div>
             <ul class="u-mb+">
                <li>
                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/" class="s-hero-links__link">Home</a>
                </li>
                <li>
                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/het-onderzoek" class="s-hero-links__link {% if page.permalink == '/gebiedsscans-gezondheid-en-leefomgeving/het-onderzoek' %}--active{% endif %}">Het onderzoek</a>
                </li>
                <li>
                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/samenvatting" class="s-hero-links__link {% if page.permalink == '/gebiedsscans-gezondheid-en-leefomgeving/samenvatting' %}--active{% endif %}">Samenvatting</a>
                </li>
                <li>
                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/uitkomsten" class="s-hero-links__link {% if page.permalink == '/gebiedsscans-gezondheid-en-leefomgeving/uitkomsten' %}--active{% endif %}">Uitkomsten</a>
                </li>
                <li>
                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/analyse" class="s-hero-links__link {% if page.permalink == '/gebiedsscans-gezondheid-en-leefomgeving/analyse' %}--active{% endif %}">Analyse en Conclusie</a>
                </li>
                <li>
                    <a href="/gebiedsscans-gezondheid-en-leefomgeving/de-democratische-meetlat" class="s-hero-links__link {% if page.permalink == '/gebiedsscans-gezondheid-en-leefomgeving/de-democratische-meetlat' %}--active{% endif %}">De democratische meetlat</a>
                </li>
            </ul>
        </div>

        <div class="c-image-wrapper js-image-wrapper"></div>
    </body>

</html>
